body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #e1f0f9 !important;
}
.container {
    --bs-gutter-x: 0.5rem;
}
.quiz-container {
    max-width: 600px;
    margin: 0 auto;
}
.wrapper {
    width: 100% !important;
    margin: auto;
    margin-top: 2em !important;
    text-align: center;
}
.quiz-heading, .result-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    margin-bottom: 0.5em;
    font-size: 2rem;
}
.question, .result-msg {
    font-size: 1.25rem !important;
    margin-bottom: 1.5em;
    margin-top: 1.6em;
    font-family: 'Arial', sans-serif;
    font-weight: 500;
}
.question {
    margin-bottom: 1em !important;
}
.image {
    width: 100%;
    height: auto;
}
.pic-img {
    width: 400px !important;
    border-radius: 12px;
}
.question-image {
    max-width: 100%;
    width: 200px !important;
    height: auto;
    margin: 10px 0;
    display: block;
}
.quiz-length {
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
}
.mobile-swipe {
    display: none;
    font-style: italic;
    margin-bottom: 0.5em;
}
.mobile-swipe img {
    width: 20px !important;
    margin-right: 5px !important;
}


/* AOS  */
.container {
    opacity: 0;
    filter: blur(0.5px);
    transform: translateY(100%);
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateZ(0);
    transition: all 1s ease-in-out;
}


/* buttons */
.options {
    display: -ms-grid;
    display: -moz-grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    margin: auto;
}
.options button {
    display: block;
    margin: 11px;
    padding: 15px;
    border-radius: 12px !important;
    font-size: 1.1rem;
    font-weight: 500;
}
.options button:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: #fff793;
    color: #292929;
    border: 2px solid #292929;
}
button {
    background-color: #292929;
    color: #fafafa;
}


/* resutls */
.result {
    margin-top: 20px;
    font-size: 18px;
}
.restartBtn {
    padding: 10px;
    border-radius: 12px !important;
    background: orange;
    color: #292929;
    font-size: 1.2rem !important;
    font-weight: 600;
    width: 20%;
}
.restartBtn:hover {
    background-color: #292929;
    color: orange;
    transition: 0.2s;
}
.result-heading {
    margin-top: -1em;
}
.result-image {
    width: 300px !important;
    border-radius: 12px;
    margin-bottom: -1.5em;
}
.hidden {
    display: none !important;
}
.disable {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}




/* mobile and tablet screens */
@media screen and (max-width: 1024px) {
.wrapper {width: 100% !important;}
}

@media screen and (max-width: 990px) {
.wrapper {margin: inherit;}
}

@media screen and (max-width: 768px) {
.wrapper img {width: 500px;}
}

@media screen and (max-width: 720px) {
.mobile-swipe {display: block;}
}

@media screen and (max-width: 600px) {
.wrapper {
    width: 100% !important;
    margin-top: 1em !important;
}
.wrapper img {
    width: 450px; 
    text-align: center;
    margin: 5px auto;
}
.options button {width: 100%;}
.options {
    display: -ms-grid;
    display: -moz-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}
}

@media screen and (max-width: 500px) {
.wrapper img {
    width: 400px; 
    text-align: center;
}
.options {
    display: -ms-grid;
    display: -moz-grid;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
}
}

@media screen and (max-width: 440px) {
.wrapper img {width: 320px;}
}

@media screen and (max-width: 360px) {
.wrapper img {width: 250px;}
}

@media screen and (max-width: 290px) {
.wrapper img {width: 200px;}
}