body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #e1f0f9 !important;
}
.container {
    --bs-gutter-x: 0.5rem;
}

/* accessibility focus on elements of pages */
a:focus-visible,
button:focus-visible,
select:focus-visible {
    outline: 6px solid #0097f1;  
    outline-offset: 3px;      
    background-color: #fafafa;
    color: #292929;
    transition: outline-color 0.2s ease, background-color 0.2s ease;
}

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
}
.wrapper {
    width: 100% !important;
    margin: auto;
    margin-top: 2em !important;
    text-align: center;
}
.quiz-heading, .result-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    margin-bottom: 0.5em;
    font-size: 2rem;
}
.question, .result-msg {
    font-size: 1.25rem !important;
    margin-bottom: 1.5em;
    margin-top: 1.6em;
    font-family: 'Arial', sans-serif;
    font-weight: 500;
}
.question {
    margin-bottom: 1em !important;
}
.image {
    width: 100%;
    height: auto;
}
.pic-img {
    width: 400px !important;
    border-radius: 12px;
}
.question-image {
    max-width: 100%;
    width: 200px !important;
    height: auto;
    margin: 10px 0;
    display: block;
}
.quiz-length {
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
}
.mobile-swipe {
    display: none;
    font-style: italic;
    margin-bottom: 0.5em;
}
.mobile-swipe img {
    width: 20px !important;
    margin-right: 5px !important;
}


/* AOS  */
.container {
    opacity: 0;
    filter: blur(0.5px);
    transform: translateY(100%);
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateZ(0);
    transition: all 1s ease-in-out;
}


/* buttons */
.options {
    display: -ms-grid;
    display: -moz-grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    margin: auto;
}
.options button {
    display: block;
    margin: 11px;
    padding: 15px;
    border-radius: 12px !important;
    font-size: 1.1rem;
    font-weight: 500;
}
.options button:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: #fff793;
    color: #292929;
    border: 2px solid #292929;
}
button {
    background-color: #292929;
    color: #fafafa;
}


/* resutls */
.result {
    margin-top: 20px;
    font-size: 18px;
}
.restartBtn {
    padding: 15px 40px;
    background: #F4AA82;
    color: #292929;
    border-radius: 100px;
    text-decoration: 1px solid #F4AA82 underline;
    display: flex;
    width: 40%;
    box-shadow: 3px 3px;
    margin: 5px auto;
    margin-top: 1em;
    justify-content: center;
    font-weight: 800;
    cursor: pointer;
    border: 2px solid #292929;
    font-family: "Poppins", sans-serif;
}
.restartBtn:hover{
    background: #F4AA82;
    color: #292929;
    transition: 0.2s;
    box-shadow: 0px 0px;
    border: 1px solid #292929;
    transform: translateY(2px) !important;
}
.result-heading {
    margin-top: -1em;
}
.result-image {
    width: 300px !important;
    border-radius: 12px;
    margin-bottom: -1.5em;
}
.hidden {
    display: none !important;
}
.disable {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
    background: #fff793;
    color: #292929;
}


/* start screen */
.start-wrapper {
    justify-content: center;
    text-align: center;
    display: grid;
    margin-top: 5em !important;
}
.col-sm-6 {width: 100% !important;}
.start-logo {border-radius: 7px;}
.start-intro {
    font-size: 1.2rem;
    margin-top: 1em;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
} 
#startBtn {
    padding: 15px 40px;
    background: #F4AA82;
    color: #292929;
    border-radius: 100px;
    text-decoration: 1px solid #F4AA82 underline;
    display: flex;
    width: 100%;
    box-shadow: 3px 3px;
    margin: 5px auto;
    margin-top: 1em;
    justify-content: center;
    font-weight: 800;
    cursor: pointer;
    border: 2px solid #292929;
    font-family: "Poppins", sans-serif;
}
#startBtn:hover{
    background: #F4AA82;
    color: #292929;
    transition: 0.2s;
    box-shadow: 0px 0px;
    border: 1px solid #292929;
    transform: translateY(2px) !important;
}


/* mobile and tablet screens */
@media screen and (max-width: 1024px) {
.wrapper {width: 100% !important;}
}

@media screen and (max-width: 990px) {
.wrapper {margin: inherit;}
}

@media screen and (max-width: 768px) {
.wrapper img {width: 500px;}
}

@media screen and (max-width: 720px) {
.mobile-swipe {display: block;}
}

@media screen and (max-width: 600px) {
.wrapper {
    width: 100% !important;
    margin-top: 1em !important;
}
.wrapper img {
    width: 450px; 
    text-align: center;
    margin: 6px auto;
}
.options button {width: 100%;}
.options {
    display: -ms-grid;
    display: -moz-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}
.start-wrapper {
    margin-top: 1em !important;
}
.restartBtn {width: 60%;}
}

@media screen and (max-width: 500px) {
.wrapper img {
    width: 400px; 
    text-align: center;
}
.options {
    display: -ms-grid;
    display: -moz-grid;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
}
}

@media screen and (max-width: 440px) {
.wrapper img {width: 320px;}
.pic-img {width: 350px !important;}
}

@media screen and (max-width: 400px) {
.pic-img {width: 300px !important;}
.restartBtn {width: 100%;}
}

@media screen and (max-width: 360px) {
.wrapper img {width: 250px;}
.result-image {width: 250px !important;}
}

@media screen and (max-width: 340px) {
.pic-img {width: 250px !important;}
}

@media screen and (max-width: 300px) {
.start-logo {width: 200px;}
.pic-img {width: 220px !important;}
.result-msg {
    margin-bottom: 1.4em;
    margin-top: 1em;
}
.result-image {width: 200px !important;}
}

@media screen and (max-width: 290px) {
.wrapper img {width: 200px;}
}

@media screen and (max-width: 260px) {
.pic-img {width: 200px !important;}
.result-image {width: 180px !important;}
}

@media screen and (max-width: 200px) {
.start-logo {width: 150px;}
}