body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
.quiz-container {
    max-width: 600px;
    margin: 0 auto;
}
.wrapper {
    width: 50%;
    margin: 10px auto;
}
.quiz-heading, .result-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}
.question, .result-msg {
    font-size: 1.5rem !important;
    margin-bottom: 1.5em;
    margin-top: 1.6em;
    font-family: 'Arial', sans-serif;
    font-weight: 500;
}
 

/* buttons */
.options {
    display: -ms-inline-grid;
    display: -moz-inline-grid;
    justify-content: center;
    width: auto;
}
.options button {
    display: block;
    margin: 11px 5px;
    padding: 15px;
    font-size: 16px;
    border-radius: 12px !important;
    font-size: 1.2rem;
    font-weight: 600;
}
.options button:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: #292929;
    color: #fafafa;
}
button {
    background-color: #e1f0f9;
    color: #292929;
}


/* resutls */
.result {
    margin-top: 20px;
    font-size: 18px;
}
.restartBtn {
    padding: 30px;
    border-radius: 12px !important;
    background: orange;
}
.hidden {
    display: none;
}
.disable {
    background-color: red;
}