body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
.quiz-container {
    max-width: 600px;
    margin: 0 auto;
}
.question {
    font-size: 20px;
    margin-bottom: 20px;
}
 

/* buttons */
.options button {
    display: block;
    margin: 10px 0;
    padding: 15px;
    font-size: 16px;
    border-radius: 12px !important;
}
.options button:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: #292929;
    color: #fafafa;
}

/* .quiz-button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
} */


/* resutls */
.result {
    margin-top: 20px;
    font-size: 18px;
}
.restartBtn {
    padding: 30px;
    border-radius: 12px !important;
    background: orange;
}
.hidden {
    display: none;
}
.disable {
    background: red !important;
}